<h1><%= @user.name %>さんのプロフィール</h1>
<table>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @user.get_profile_image(100, 100) %></td>
      <td><%= @user.name %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>投稿画像</th>
      <th>店名</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @post_images.each do |post_image| %>
      <tr>
        <td>
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image(200, 200) %>
          <%end%>
        </td>
        <td><%= post_image.shop_name %></td>
        <td><%= post_image.caption %></td>
      </tr>
    <%end%>
  </tbody>
</table>





