<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>プロフィール画像</th>
      <th>投稿画像</th>
      <th>店名</th>
      <th>説明</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% post_images.each do |post_image| %>
      <tr>
        <td><%= post_image.user.name %></td>
        <td>
          <%= link_to user_path(post_image.user) do %>
            <%= image_tag post_image.user.get_profile_image(100,100) %>
          <%end%>
        </td>
        <td>
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image(200,200) %>
          <%end%>
        </td>

        <td><%= post_image.shop_name %></td>
        <td><%= post_image.caption %></td>
        <td><%= link_to "#{post_image.post_comments.count}件", post_image_path(post_image) %></td>
      </tr>
    <%end%>
  </tbody>
</table>