<h2>投稿編集</h2>
<%= form_with model: @post_image do |f| %>
  <div>画像</div>
  <%= f.file_field :image, placeholder: "画像選択", accept: "image/*" %>
  <div>ショップ名</div>
  <%= f.text_field :shop_name, autofocus: true %>
  <div>説明</div>
  <%= f.text_area :caption, autofocus: true %>
  <%= f.submit "編集完了"%>
<%end%>