<h1>投稿一覧</h1>
<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>プロフィール画像</th>
      <th>投稿画像</th>
      <th>店名</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @post_images.each do |post_image| %>
      <tr>
        <td><%= post_image.user.name %></td>
        <td><%= image_tag "sample-author1.jpg" %></td>
        <td><%= image_tag post_image.get_image(100,100) %></td>
        <td><%= post_image.shop_name %></td>
        <td><%= post_image.caption %></td>
      </tr>
    <%end%>
  </tbody>
</table>